<main>
  <h1>isTrav & subVind</h1>
  <p>Small artificial intelligence laboratory running on a PX13 laptop in ATX focusing in on Flow-based Programming (FBP) and generative user interfaces powered by HTMX/EJS and TypeScript.</p>
  <div style="overflow: hidden;">
    <ul class="navigation">
      <li><a href="//flow.istrav.com"><button>Edge Flow</button></a></li>
      <li><a href="//flow.subvind.com"><button>LTS Flow</button></a></li>
    </ul>
  </div>
  <p>
    > downtime guaranteed as my laptop restarts often.<br />
  </p>
  <hr>
  <span>~made with &hearts; by <a href="https://istrav.com">isTrav</a> & <a href="https://subvind.com">subVind</a> + ai :)</span>
</main>